.order-book {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    border-radius: 21px;
}

.order-book-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-book-header h3 {
    background: linear-gradient(to right, #FFFFFF 0%, #9CDDCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.order-book-icons {
    display: flex;
    align-items: center;
    gap: .2rem;
    position: relative;
}


.Trading-first-section-bakground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(260deg,
            rgba(255, 255, 255, 0.1) 0%,
            rgba(255, 255, 255, 1) 100%);
    opacity: 0.2;
    filter: blur(5px);
    z-index: -1;
}



.order-book-icons-background {

    position: absolute;
    background: linear-gradient(260deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
    top: -4px;
    left: -5px;
    right: 0px;
    bottom: 0;
    padding: .7rem 2.2rem;
    opacity: 0.5;
    z-index: -1;
    border-radius: 3px;
}

.order-book-icons img {
    width: 18px;
}

.Trading-first-section table tr th,
.Trading-first-section table tr td {
    padding: .3rem 0;
    font-weight: normal;
}

.Trading-first-section table tr th:nth-child(2),
.Trading-first-section table tr td:nth-child(2) {
    padding: .3rem 4.5rem;
}

.Trading-first-section table tr:nth-child(2) th {
    padding-top: 0 !important;
    opacity: 60%;
}

.Trading-first-section table tr:nth-child(1) th {
    padding-bottom: .2rem;
}

.Trading-first-section table tr td:nth-child(1) {
    color: red;
}

.order-book-table2 tr td:nth-child(1) {
    color: green !important;
}

.order-book-table1-scroll {
    height: 345px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.order-book-table2-scroll {
    height: 327.781p;
    overflow-y: scroll;
    scrollbar-width: none;
}

.table2-header {
    display: flex;
    align-items: center;
    margin: .5rem 0;
}

.table2-header h4 {
    font-size: 1.5rem;

}

.table2-header h4,
.table2-header p {
    margin: 0 .3rem;
}

.table2-header img:nth-of-type(2) {
    margin-left: auto;
    width: 15px
}


.Trading-first-section {
    position: relative;
    display: grid;
    grid-template-columns: .5fr 2fr 2fr;
    margin: 2rem;
    gap: 1rem;
}


.buy-sell-block {
    background: rgba(255, 255, 255, 0.11);
    border-radius: 24px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.1px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
}

.buy-sell-block-head {
    display: flex;
    gap: 1rem;
    position: relative;
}

.buy-sell-block-head::after {

    content: "";
    height: 2px;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: -10px;
    margin-bottom: 1rem;
    opacity: .1;
}

.buy-sell-block-head h5 {
    all: unset;
    font-weight: bold;
    margin-right: 1rem;
    margin-bottom: 1rem;
}




.buy-sell-button {
    position: relative;

    display: flex;
    justify-content: space-between;
}

.buy-sell-button-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 1) 100%);
    opacity: 0.2;
    border-radius: 10px;
    z-index: -1;

}


.buy-sell-button {
    padding: .2rem;
    margin-bottom: 1rem;
}

.buy-sell-button button {
    all: unset;
    padding: .4rem 4.5rem;
    border-radius: 10px;
    font-size: var(--laptop-text-size);
    cursor: pointer;
}

.buy-sell-button-active {
    background: linear-gradient(to left, #B6FFEF -68%, #03fac5 100%) !important;

}

.limit-market-button {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

}

.limit-market-button button {

    background: linear-gradient(207deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.295) 100%);
    border: none;
    border-radius: 8px;
    color: #ffffff;
    padding: .1rem 15px;
    text-decoration: none;
    font-size: 1rem;
    width: 20%;
    margin: .2rem;
}

.limit-market-button-active {
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 78%, rgba(0, 81, 63, 1) 100%) padding-box,
        linear-gradient(280deg, rgba(0, 0, 0, 1) 10%, rgba(0, 81, 63, 1) 75%) border-box !important;
}

.limit-market-button p:first-of-type {
    margin-left: auto;
}

.limit-market-button p {
    margin: 0;
}

.limit-market-button p:nth-of-type(2) {
    background: linear-gradient(to right, #B6FFEF -68%, #9CDDCF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    opacity: 1;
    margin-left: .2rem;
    font-size: var(--laptop-text-size);
}

.CurrentPrice,
.Quantity,
.Odervalue,
.Quantity {
    background-color: #292929;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 12px;
    padding: .6rem 1rem .6rem 1rem;
    width: 100%;
    color: white;
    opacity: 60%;
}

.Quantity {
    margin-bottom: 1rem;
}

.progress-slider {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto;
}

.step {
    width: 24px;
    height: 24px;
    background-color: #555;
    border: 2px solid #888;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    cursor: pointer;
    transition: background 0.3s, border 0.3s;
}

.step.active {

    background: linear-gradient(to left, #B6FFEF 0%, #03fac5 100%) !important;
    border: 2px solid #004435 !important;
}

.line {
    position: relative;
    flex: 1;
    height: 4px;
    background-color: white;
    opacity: 60%;
}

.line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #22e6bb !important;
    transition: width 0.3s ease-in-out;
}

.line.filled::before {
    width: 100%;
}

.CurrentPrice::placeholder,
.Odervalue::placeholder {
    text-align: end;
    opacity: 60%;
}



label {
    display: block;
    font-size: var(--laptop-text-size) !important;
    font-family: customFontRegular;
    margin-top: 1rem;
    margin-bottom: .2rem;
}

.buy-sell-button-last-section {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.buy-sell-button-last-section div:nth-child(2) {


    margin-left: auto;

}


.buy-sell-button-last-section div:nth-child(2) p {
    opacity: 1;
}

.buy-sell-button-last-button {
    border-radius: 12px;
    width: 100%;
    background: linear-gradient(to left, #B6FFEF -68%, #06e3b3 100%);
    border: none;
    color: white;
    padding: .6rem 5.5rem .6rem 2.5rem;
    font-size: var(--laptop-text-size);
}



/* .Trading-second-section{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 2rem;
  gap: 1rem;
} */

.Trading-second-section {
    position: relative;
    display: grid;
    grid-template-columns: minmax(250px, 1.05fr) minmax(500px, 3fr);
    gap: 1rem;
    margin: 2rem;
    /* THIS enables wrapping like flex-wrap */
    gap: 1rem;
    margin: 2rem;
}





/* ... */


@media (max-width:480px) {
.Trading-first-section {
    display: flex;
    flex-direction: column;
}

.buy-sell-button button {
    padding: 0.4rem 2.5rem;
    border-radius: 10px;
    font-size: var(--mobile-text-size);
}


.buy-sell-button-last-button {
    padding: .3rem 2.5rem .3rem 2.5rem;
}

label {
    font-size: var(--mobile-text-size);
}

.limit-market-button p:nth-of-type(2) {
    white-space: nowrap;
}


.limit-market-button {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr 1fr;
}

.limit-market-button button {
    width: 90%;

}

.limit-market-button p {
    text-align: center;
    margin: 0 !important;
}
.Trading-first-section {
    margin: .5rem;

}

.order-book-header {
    flex-direction: column;
    margin-bottom: 1rem;
}
body td,
th {
    padding: 0.6rem 1rem !important;
    text-align: center;
    white-space: nowrap;
}

body table {
    width: 100%;
}


}

@media (min-width:481px) and (max-width: 770px) {

    .order-book-header {
        flex-direction: column;
        margin-bottom: 1rem;
    }

    .order-book-table1-scroll,
    .order-book-table1 {
        width: 100%;
    }


    .order-book-table2-scroll,
    .order-book-table2 {

        width: 100%;
    }

    .Trading-first-section {
        display: flex;
        flex-direction: column
    }

}

@media (min-width:771px) and (max-width: 1050px) {

    .Trading-first-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

