th,
td {
    padding: 1rem 1rem;
    text-align: center;
    white-space: nowrap;
}


@media (max-width:480px) {
    th,
    td {
        padding: 0.6rem 0.6rem !important;
        text-align: center;
        white-space: nowrap;
    }


}

@media (min-width:481px) and (max-width: 770px) {

    td img {

        width: 30px;

        height: 30px;
    }

    th,
    td {
        padding: 1rem 0.8rem;
        text-align: center;
        white-space: nowrap;
    }

}

