
.input-wrapper {
    position: relative;
    display: inline-block;

}


.form-control1,
.form-control1:focus {
    background: linear-gradient(#292929, #292929) padding-box, linear-gradient(10deg, rgba(0, 0, 0, 1) 10%, rgba(0, 81, 63, 1) 75%) border-box !important;
    border-radius: 16px !important;
    border: 1.5px solid transparent !important;
    padding: .6rem 5.5rem .6rem 2.5rem !important;
    width: 100%;
    caret-color: white;
    outline: none !important;
    box-shadow: none !important;
}


.input-icon {
    position: absolute;
    top: 32%;
    left: 15px;
}

input.form-control1::placeholder {
    opacity: 70%;
}


@media (max-width:480px) {
    .form-control1 {
        width: 100%;
        padding: 0.4rem 2.5rem 0.4rem 1.5rem !important;
        font-size: 0.5rem;
    }

    .input-icon {
        position: absolute;
        top: 38%;
        left: 13px;
        width: 7%;
    }
}

@media (min-width:481px) and (max-width: 770px) {
    .form-control1 {
        font-size: 0.85rem;
        padding: 0.4rem 1.3rem 0.4rem 2rem !important;
    }

    .input-icon {
        position: absolute;
        top: 29%;
        left: 14px;
        width: 8%;
    }
}

@media (min-width:771px) and (max-width: 1050px) {

    .input-icon {
        position: absolute;
        top: 32%;
        left: 19px;
    }
}
